<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>SHORTIFY</title>
  </head>
  
  <body>
    
    <!--Header-->
    <div id="header">
      <h1 class="display-1">SHORTIFY</h1>
    </div>
    
    <!--URL submission form-->
    <form method="post" action="/url">
        <div class="mb-3" id="URL_div">
          <input type="text" class="form-control" name ="URL" id="URL" placeholder="Enter the URL here" value= <%= url %>>
        </div>
        <div id="button">
        <button type="submit" class="btn btn-dark">Convert</button>
        </div>
      </form>

    <!--Messages and short URL display-->
    <div id="message">
      <%= message %>
    </div>
    <div id="short_url_div">
      <div id="short_url"><a target="_blank" href=<%= url_link %>><%= link %></a></div>
      <button type="button" class="btn btn-warning btn-sm" onclick="copy()">Copy the URL</button>
    </div>

    <!--Condition and script for displaying a section-->
    <% if(vision) { %>
          <script>
              document.getElementById("short_url_div").classList.add("invisible");      
          </script>
    <% } %>
    
    <!--Script for copying the short URL to Clipboard-->
    <script>
      function copy() 
      {
          var elm = document.getElementById("short_url");
          // for Internet Explorer

          if(document.body.createTextRange) 
          {
            var range = document.body.createTextRange();
            range.moveToElementText(elm);
            range.select();
            document.execCommand("Copy");
            alert("The URL has been copied");
          }
          else if(window.getSelection) 
          {
          // other browsers
          var selection = window.getSelection();
          var range = document.createRange();
          range.selectNodeContents(elm);
          selection.removeAllRanges();
          selection.addRange(range);
          document.execCommand("Copy");
          alert("The URL has been copied");
          }
      }
    </script>

    <!--Footer-->
    <div class="fixed-bottom" id="bottom">
      Developed and managed by Utkrisht Pathak.
    <div>
      <a href="https://www.linkedin.com/in/utkrisht-pathak-a9111a1b0/"><img src="images/Linked_in.svg" width="30px" height="30px"></a>
      <a href="https://github.com/UtkrishtPathak"><img src="images/Github.png" width="30px" height="30px"></a>
    </div>
    </div>

    <!--Bootstrap Bundle with Popper-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>